aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
charset-normalizer
datasets
dill
distro
filelock
frozenlist
fsspec
h11
httpcore
httpx
huggingface-hub
idna
jiter
multidict
multiprocess
numpy
openai
packaging
pandas
propcache
pyarrow
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
six
sniffio
tiktoken
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
xxhash
yarl
zstandard
